bleak==0.22.3
dbus-fast==2.24.4
joblib==1.4.2
keyboard==0.13.5
mindrove
numpy==2.2.3
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.9.1
six==1.17.0
threadpoolctl==3.5.0
tzdata==2025.1
